// colors
$white-color: #fff;
$dark-color:#000;
$danger-color: #DB0000BF;
$yellow-color:#FFCA05;
$light-blue-color:#00ACD7;
$green-color:#04A13A;
$orange-color: #FF6E05;
$deep-blue-color: #45AED8;
$light-grey: rgb(233, 233, 233);
$gray: gray;


;


// font stack
$font-stack:'Abel', sans-serif;